<!DOCTYPE html>
<script src="home.js"></script>
<link rel="stylesheet" href="home.css">
<body>
    <p>Home page</p>
    <template directory-item-container-template>
        <div class="directory-item-container">
            <img width  ="100%" width="auto" src="file.svg">
            <p class="item-name">file.svg</p>
        </div>
    </template>

    <div class = "directory-container">
        
    </div>
    

</body>
